EXPO_PUBLIC_AUTH_BACKEND_URL=https://auth-service-sih.onrender.com
EXPO_PUBLIC_MARKETPLACE_BACKEND_URL=https://marketplace-service-sih.onrender.com
EXPO_PUBLIC_AI_API_BASE_URL=https://agro-ai-service.onrender.com
EMBEDDING_SERVICE_URL=http://localhost:5001